#authenticate-service
/authenticate-service/node_modules

# recruitment-service
/recruitment-service/node_modules
/recruitment-service/logfile

# recruitment-service
/mongo-db/mongodb

# frontend
# OS Files
.DS_Store
Thumbs.db

# Dependencies
/tuyendung/node_modules/

# Dev/Build Artifacts
/tuyendung/dist/
/tuyendung/tests/e2e/videos/
/tuyendung/tests/e2e/screenshots/
/tuyendung/tests/unit/coverage/
/tuyendung/jsconfig.json

# Local Env Files
/tuyendung/.env.local
/tuyendung/.env.*.local

# Log Files
/tuyendung/*.log
/tuyendung/npm-debug.log*
/tuyendung/yarn-debug.log*
/tuyendung/yarn-error.log*

# Unconfigured Editors
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*